:root {
    --text: #1d0c07;
    --background: #EEC8BD;
    --primary-button: #cc6b80;
    --secondary-button: #fefcfb;
    --lighter-secondary: #fefcfbb6;
    --accent: #9e4777b2;
}

* {
    font-family: 'Tilt Neon', cursive;
}

body {
    margin: 0;
    border: 0;
    background-color: var(--background);
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}


.contentContainer {
    height: 80%;
    width: 65%;
    display: grid;
    padding: 15px;
    background-color: var(--lighter-secondary);

    border-radius: 15px;

    grid-template-columns: 1fr 2fr;

    grid-template-areas:
        "sidebar header"
        "sidebar content";

    gap: 15px;


}

.contentContainer>* {
    min-height: 0;
    border-radius: 15px;
}

header {
    background-color: var(--secondary-button);
    font-family: 'Tilt Neon', cursive;
    grid-area: header;
    font-size: 40px;
    text-align: left;
    padding-left: 25px;

}

aside {
    background-color: var(--secondary-button);
    padding: 20px;
    grid-area: sidebar;
}

h1,
h2 {
    display: inline;
}

.menuBar>svg {
    padding-left: 60%;
}

.menuBar {
    padding-bottom: 40%;
}


.tasks>svg {
    height: 1.5rem;
}

.tasks {
    padding-top: 10px;
}

.lists {
    padding-top: 35%;
}

.listThumbnail {
    background-color: var(--accent);
    height: 250px;
    width: 250px;
    margin: 25px;
}

.listThumbnail>p {
    display: flex;
    justify-content: center;
    padding-top: 15%;
    font-weight: 400;
}



main {
    background-color: var(--secondary-button);
    padding: 20px;
    grid-area: content;


    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}