body {
    background-color: slategray;
    margin: 0;
    padding: 0;
}

span {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contentPane {
    background-color: gray;
    height: auto;
    width: 500px;
    border: solid 3px;
    border-color: black;
}

#leftArrow {
    transform: scaleX(-1);
}

#profilePicture {
    height: 100px;
    width: 100px;
    padding: 25px;
    object-fit: fill;
    object-position: center;
}

#rating {
    height: 100px;
    padding-bottom: 20px;
}

p {
    padding: 10px;
}

button {
    margin: 50px;
    border-radius: 10px;
    background-color: lightgray;
}